* {
      -moz-box-sizing: border-box; /* Firexfox */
      -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
      box-sizing: border-box; /* IE */
 }

header, footer, section {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}
header, footer{
  clear: both;
}

.top-row{
  width: 33.33%;
  float: left;
}
.bottom-row{
  width: 50%;
  float: left;
}

@media (max-width: 700px) {
  header, footer{
    width: 100%;
  }
  .top-row{
    width: 100%;
    float: left;
  }
  .bottom-row{
    width: 100%;
  }
}
